div#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.main-heading {
    font-weight: 700;
    font-size: 1.9rem;
    margin: 0;
}

.main-heading, .description {
    color: #293264;
}

.description {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 7px;
}

.description, .start-quiz, .option, .check-answers {
    font-family: "Inter", sans-serif;
}

.start-quiz {
    width: 136px;
    padding: 10px 24px;
    background-color: #4D5B9E;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: #F5F7FB;
    border-radius: 17px;
    margin-top: 29px;
    cursor: pointer;
}

.shape {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    z-index: -1;
}

.question-and-options {
    width: 400px;
    height: 70px;
    border-bottom: 1px solid #DBDEF0;
}

.question-text {
    font-weight: 700;
    font-size: 1rem;
    color: #293264;
}

.option, .check-answers {
    cursor: pointer;
}

.option {
    display: inline-flex;
    width: fit-content;
    height: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #4D5B9E;
    font-weight: 500;
    font-size: 0.7rem;
    color: #293264;
    padding: 2px 8px;
    white-space: nowrap;
}

.option:hover {
    background-color: #D6DBF5;
}

#option-1,
#option-2,
#option-3, 
#option-4 {
    visibility: hidden;
}

.check-answers {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #4D5B9E;
    border: none;
    color: #F5F7FB;
    font-weight: 600;
    font-size: 0.64rem;
}

